<section id="search" class="search-wrap">
    <h1>Find A Blog</h1>
    <form action="/blogs/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Some blogs....">
      <input type="submit" value="Search">
    </form>
  </section>
